<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset ="UTF-8">
    <title>Bookers</title>
    <!--<link rel="stylesheet" href="/bookers/app/assets/stylesheets/top.css">-->
  </head>
  <body>
    <header>
      <h1>ようこそ Bookers へ！</h1>
    </header>
    <main>
      <p class="top-comment"><span class="bold-name">Bookers </span>では、さまざまな書籍に関するあなたの意見や<br>
      印象を共有し交換することができます</p>
      <%= link_to 'start' ,books_path %>
    </main>
  </body>


</html>